*{
    color: #991A14;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #fff;
}

img{
    width: 100%;
    height: 100%;
}

.headerSection{
    margin: 30px 0;
    font-size: 30px;
    text-align: center;
}

ul{
    list-style: none;
}

.mis{
    text-align: center;
}
.mis p{
    font-size: 20px;
    text-align: right;
    line-height: 50px;
    
}
.container{
    width: 80%;
    margin: auto;
}

/* Header */
header{
    background-color: #fff;
}
header .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}
.header-social ul , .header-list .header-list-center{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}
.header-logo{
    width: 10%;
}

.login-btn{
    border: 1px solid #991A14;
    cursor: pointer;
    padding: 6px 12px;
    background-color: #fff;
    color: #991A14;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

a:hover {
    background-color: #991A14;
    color: #fff;
}
.list{
    position: relative;
    z-index: 1000;
}
.InerList{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border:1px solid #991A14;
    position: absolute;
    z-index: 100;
    padding: 0px 13px;
    justify-content: center;
    align-items: center;
    width: 140px;
    top: 20px;
    transition: .3s ease;
    visibility: hidden;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.list:hover .InerList{
    visibility: visible;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.InerList a{
    width: 100%;
}
.InerList li{
    color: #991A14;
    cursor: pointer;
    width: 100%;
    position: relative;
    left: -10px;
    text-align: right;
    padding: 10px;
}
.InerList li:hover{
    background-color: #991A14;
    color: #fff;
}
/* Home Section */
section.home{
   background-image: url(../img/11.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 550px;
   background-color: #991A14;
   position: relative;
}

section.home::after{
    content: "";
    background-color: #00000048;
    width: 100%;
    height: 550px;
    z-index: 100;
    position: absolute;
    top: 0;
    
}

section.home .container{
    z-index: 102;
    position: absolute;
    left: 20%;
    top: 10%;
    width: 50%;
}

section.home h1{
    color: #fff;
    margin-bottom: 40px;
    font-size: 30px;
}

section.home .Login{
    font-size: 20px;
}
/* Staff */
.staffCon{
    display: flex;
}

.staff{
    margin-right: 30px;
}
.staffMore{
    font-size: 20px;
    color: blue;
}


/* Courses */
#course{
    margin-bottom: 200px;
}
.courses{
    display: flex;
    text-align: center;
}
.courContainer{
    width: 240px;
    height: 190px;
}
.courContainer img{
    margin-bottom: 20px;
}

/* school courses */

.schoolCous{
    display: flex;
    margin-bottom: 300px;
}

.schoolCous div{
    margin-left: 30px;
    height: 200px;
    text-align: center;
}
.schoolCous h2{
    height: 250px;
    position: relative;
    z-index: 1000;
    color: #fff;
    background-color: #313;
    text-align: center;
    padding-top: 100px;

}
/* footer */
footer{
    background-color: cadetblue;
    color: #fff;
    font-size: 20px;
    padding: 25px;
    text-align: center;
}
footer .social{
    cursor: pointer;
    font-size: 25px;
}

footer .social:hover{
    color: #fff;
}
footer .header-list-center{
    color: #fff;
    text-align: right;
}



/* Media Querie */

@media only screen and (max-width: 768px){
    header{
        height: 100px;
    }
    .header-logo{
        width: 25%;
    }
    .header-list{
        display: none;
    }
    section.home{
        height: 350px;
    }
    section.home::after{
        height: 350px;
    }
    #course{
        margin-bottom: 15px;
    }
    .staffCon,.courses,
    .schoolCous{
        flex-direction: column;
        align-items: center;
        
    }
    .staffCon{
        width: 100%;
    }
    .schoolCous{
        margin-bottom: 10px;
    }

    .schoolCous div{
        margin-bottom: 260px;
        width: 100%;
        text-align: center;
    }
    .staff{
        height: 300px;
        width: 250px;
        margin-bottom: 30px;
    }
    .courContainer{
        margin-bottom: 80px;
    }
}
